#container {
  margin: 10px auto;
  width: 760px;
}

#explanation {
  width: 75%;
}

em {
  font-weight: bold;
  font-style: italic;
}

h1.page_title {
  font-size: large;
  display: block;
  border: 0px #06C solid;
  border-bottom-width: 3px;
  color: #06C;
  padding: 5px;
  margin-bottom: 20px;
}

h2.subtitle {
  font-size: larger;
  display: block;
  border: 0px #06C solid;
  border-bottom-width: 3px;
  color: #06C;
  padding: 5px;
  margin-bottom: 20px;
}

h3 {
  display: block;
  color: #06C;
  padding: 5px;
}

p {
  margin-bottom: 1em;
}

#bin_controls {
  width: 100%;
  margin-bottom: 20px;
}

.new_link_form {
  height: 75px;
}

.new_link_form input {
  font-size: 35px;
}

.new_link_form label{
  font-size: 20px;
}

.new_link_form input.link_location{
  float: left;
  width: 75%;
}

.new_link_form input.link_submit{
  float: right;
  width: 160px;
  height: 45px;
  border: 2px solid;
  background-color: #06C;
  color: #FFF;
  font-size: 35px;
}

.new_link_form label {
  display: none;
}

ul.links {
  list-style-type: none;
  margin: 0px;
}

ul.links li{
  font-size: 18px;
}

.bin_link_light {
  /* background-color: #ddd; */
}

.bin_link_dark {
  background-color: #ddd;
}

ul.links a:link {
  color: #000;
}

ul.links a:visited {
  color: #777;
}

ul.links a.delete {
  float: right;
}

ul.links a.long_link {
  font-size: smaller;
}

#flash div{
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px;
}

#flash div.success {
  background-color: #0C3;
}

#flash div.error {
  background-color: #F66;
}

#time_frame_selection {
  font-size: large;
  text-align: right;
  margin-bottom: 20px;
  clear: both;
  width: 100%;
}

#time_frame_selection a{
  color: #06C;
  padding: 10px;
}

#time_frame_selection a.current_view {
  background-color: #06C;
  color: #FFF;
  font-weight: bold;
}

.new_link_form .formError {
  display: block;
  width: 100%;
  color: #000;
  background: #F66;
  clear: both;
  padding: 10px 0 10px 10px;
  font-size: larger;
}

#link_errors {
  margin-top: 20px;
  width: 100%;
  color: #000;
  background: #F66;
  padding: 10px 0 10px 10px;
  font-size: larger;
  margin-bottom: 20px;
}

.no_links {
  text-align: center;
  font-weight: bold;
  width: 100%;
  padding: 20px 0;
  background: #eee;
}

#footer {
  border: 0px #06C solid;
  border-top-width: 3px;
  margin-top: 20px;
}

.public{
  float: right;
}

ul.bin_access {
  list-style-type: none;
  margin: 0;
}
