#container {
  margin: 10px auto;
  width: 760px;
}

h1.page_title {
  font-size: larger;
  display: block;
  /* background-color: #3C6; */
  border: 0px #06C solid;
  border-bottom-width: 3px;
  color: #06C;
  padding: 5px;
  margin-bottom: 20px;
}

.secret_link {
  font-size: large;
  display: block
  width: 100%;
  background-color: #eee;
  margin: 30px 0;
}

.new_link_form {
  margin-bottom: 50px;
  height: 75px;
}

.new_link_form input {
  font-size: 35px;
}

.new_link_form label{
  font-size: 20px;
}

.new_link_form input#link_location{
  float: left;
  width: 75%;
}

.new_link_form input#link_submit{
  float: right;
  width: 160px;
  height: 45px;
  border: 2px solid;
  background-color: #06C;
  color: #FFF;
  font-size: 35px;
}

ul.links {
  list-style-type: none;
}

ul.links li{
  font-size: 18px;
}

.bin_link_light {
  background-color: #ddd;
}

.bin_link_dark {
  background-color: #aaa;
}

ul.links a:link {
  color: #000;
}

ul.links a:visited {
  color: #777;
}

ul.links a.delete {
  float: right;
}

ul.links a.long_link {
  font-size: smaller;
}

#flash div{
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px;
}

#flash div.success {
  background-color: #0C3;
}
