#bin_explanation
  .help#base_help
    = link_to "", "#closeHelp", { class: 'close' }
    %h3 What is a bin?
    %p
      %em A bin
      is a place to put links that you want to share with others.
      You may share either a public or private link to this bin that will allow others to see these links.
  .help#private_help{style: 'display: none'}
    = link_to "", "#closeHelp", { class: 'close'}
    %h3 What is a private link?
    %p
      The
      %em private link
      allows changes to be made by anyone at any time, so share it wiseley.
  .help#public_help{style: 'display: none'}
    = link_to "", "#closeHelp", { class: 'close'}
    %h3 What is a public link?
    %p
      The
      %em public link
      will allow people to see links that have been shared, but not make any changes or add any links.  You can share this with anyone safely.
  .help#bookmarklet_help{style: 'display: none'}
    = link_to "", "#closeHelp", { class: 'close'}
    %h3 What is a bookmarklet?
    %p
      The
      %em bookmarklet
      is a quick-save button for your bin.  Drag the bookmarklet to your bookmark bar in your browser, and you can click it from any page to have that page added to your bin.  You'll see a notification in the top left corner of the current page to indicate that it was saved.
