- url = link.location
%li{ class: cycle('bin_link_light','bin_link_dark') }
  = link_to truncate(url, length: 60), url
  = link_to "[delete]", bin_link_path(link.secret_hash,link.id), method: :delete, class: 'delete'
